:root {
  --dark: #0d1321;
  --light: #f2f8f4;
  --force: #f4f5f5;
  --battleshipgrey: #a19d99;
  --yellow: #efcb68;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('./fonts/StarJedi.woff2') format('woff2'),
    url('./fonts/StarJedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Star Jedi Hollow';
  src: url('./fonts/StarJediHollow.woff2') format('woff2'),
    url('./fonts/StarJediHollow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Structure */

body {
  padding: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list__item {
  margin: 0.5rem 0;
  font-family: monospace;
}

.list__item:before {
  margin-right: 0.5rem;
}

.list__item--dark-side:before {
  content: '⚫🤖⚔️';
}

.list__item--the-force:before {
  content: '⭐🔫👸🏻';
}

.card {
  padding: 20px;
  margin: 20px;
  max-width: 350px;
}

.card__img {
  width: -webkit-fill-available;
  margin: 1rem 0;
}

/* Skin */

.bg--millenium-falcon {
  background: var(--dark);
  background-image: url(./images/millenium-falcon-star-wars-wallpaper.png);
  background-repeat: no-repeat;
  background-position: top;
}
.bg--dark {
  background: var(--dark);
}

.text--light {
  color: var(--light);
}
.page__header {
  font-family: 'Star Jedi Hollow', serif;
  font-size: 3rem;
  text-shadow: -1px 28px var(--yellow);
}
.page__header--center {
  text-align: center;
}
.card__border {
  border: 2px var(--battleshipgrey) solid;
}
.card__header {
  font-family: 'Star Jedi';
  font-size: 1.9rem;
}
.card__text {
  font-size: 1.15rem;
}
.card__body--force {
  background: var(--force);
  color: var(--dark);
}
.card__border--darkside {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px red,
    0 0 25px red;
}
.card__border--force {
  box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px lime,
    0 0 25px lime;
}

@media screen and (min-width: 700px) {
  body {
    padding: 0;
    margin: 0;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
  }
  .bg--millenium-falcon {
    background-size: cover;
  }
  .page__header--center:hover {
  transform: perspective(400px) rotateX(-12deg) rotateY(55deg) translateY(-30px);
  transition: ease-in-out 0.5s;
}
  .card {
    padding: 20px;
  }
  .card__header {
    font-size: 2.25rem;
  }
  .card__text {
    font-size: 1.3rem;
  }
  .card__body:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
  }
  .card__border--darkside {
    box-shadow: unset;
  }
  .card__border--force {
    box-shadow: unset;
  }
  .card__body--darkside:hover {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px red,
      0 0 25px red;
  }
  .card__body--force:hover {
    box-shadow: 0 0 5px #fff, 0 0 8px #fff, 0 0 12px #fff, 0 0 15px lime,
      0 0 25px lime;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    padding: 30px;
  }
}
