:root {
  --dark: #0d1321;
  --light: #f2f8f4;
  --battleshipgrey: #a19d99;
}
/* Structure */

body {
  padding: 10px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.list__item {
  margin-right:1rem;
}

.list__item--dark-side:before {
content: '⚫🤖⚔️'
}

.list__item--the-force:before {
content: '⭐🔫👸🏻'
}

.card {
  padding: 20px;
  margin: 20px;
  width: fit-content;
}

.card__img {
  max-width: 250px;
}

/* Skin */
.text--light {
  color: var(--light);
}

.bg--dark {
  background: var(--dark);
}

.card__border {
  border: 2px var(--battleshipgrey) solid;
}


@media screen and (min-width: 700px) {
  body {
    padding: 60px;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
  }
  .card__img {
    max-width: 350px;
  }
}
