:root {
  --dark: #0d1321;
  --light: #f2f8f4;
}
/* Structure */

body {
  padding: 10px;

  @media screen and (min-width: 1000px) {
    padding: 60px;
  }
}

.container {
    display: flex;
}

/* Skin */
.text--light {
  color: var(--light);
}

.bg--dark {
  background: var(--dark);
}
